$mainColor:#15023e;

$width:600px;

@mixin mobile{
    @media(max-width: #{$width}){
        @content
    }
}

$widthMedium:992px;

@mixin ipad{
    @media (min-width: #{$width})and (max-width: #{$widthMedium}) {
        @content;
    }
}